@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Sanchez:400italic,400);
@import url(https://fonts.googleapis.com/css?family=Roboto:100);
@col: #0f1d24;

html,
body,
main {
    height: 100%;
    font-family: SuisseIntl-Regular, Helvetica, sans-serif;
    font-size: 12pt;
    background-color: #f4f4f4;
    transition: background-color 1s ease;
}

/* NavBar */
nav {
    max-height: 80px;
    font-size: 19px;
    color: white;
    margin: 1% 10% 0% 9%;
}

.nav-item {
    padding-left: 10%;
    font-size: 13pt;
}

.navbar-brand {
    width: 7.5%;
}

.navbar-brandPic {
    width: 100%;
}

#PrefaceContainer {
    height: 95vh;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 6%;
    transition: background-color 3s ease;
}

.PrefacePic {
    width: 25vw;
    height: 70vh;
    margin: 0% 0% 0% 0%;
}

.PrefaceWords {
    color: black;
    margin: 35% 0% 0% 0%;
    display: inline-block;
    font-size: 45pt;
    width: 70vw;
    z-index: 999;
}

.tText {
    position: relative;
    padding-top: 1.25%;
}

.PrefacePicCurr {
    width: 100%;
    margin: -80% 0% 0% 225%;
    z-index: -999;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: lightgray;
}

#About {
    padding-top: 12.5vh;
    height: 95vh;
    padding-left: 12.5%;
    padding-right: 15%;
    transition: background-color 1s ease;
    font-size: 18px;
}

#mypic {
    padding-left: 1%;
    border-radius: 8px;
    opacity: 0.85;
    width: 0px;
    height: 0px;
    padding-top: 125px;
    padding-right: 285px;
    padding-left: 285px;
    padding-bottom: 300px;
    background: url(/img/M-3.jpeg);
    background-size: cover;
}

#Projects {
    padding-top: 12.5vh;
    padding-left: 12.5%;
    padding-right: 15%;
}

#ProjectsHeader {
    text-decoration: underline;
    margin-bottom: 4.5%;
}

#Projects > .row > .Project {
    text-align: center;
}

#Projects > .row > .Left {
    margin-bottom: 10%;
}

#Projects > .row > .Right {
    margin-top: 10%;
}

#Projects > div > div > div > strong {
    font-size: 18pt;
}

#Projects > div > div > div > a {
    font-size: 18pt;
}

#Torito {
    width: 0px;
    height: 0px;
    padding: 70% 55% 10% 55%;
    background: url(/img/elTorito.png);
    background-size: cover;
}

#Potatoes {
    width: 0px;
    height: 0px;
    padding: 70% 60% 10% 60%;
    background: url(/img/potatoes.png);
    background-size: cover;
}

#Pokemon {
    width: 0px;
    height: 0px;
    padding: 70% 50% 0% 50%;
    background: url(/img/pokemon.png);
    background-size: cover;
}

#Currency {
    width: 0px;
    height: 0px;
    padding: 70% 60% 50% 60%;
    background: url(/img/converter.png);
    background-size: cover;
}

#Pet {
    width: 0px;
    height: 0px;
    padding: 30% 50% 10% 50%;
    background: url(/img/Tempeturs.png);
    background-size: cover;
}

#Curr {
    width: 0px;
    height: 0px;
    padding: 70% 60% 0% 60%;
    background: url(/img/CurrSample.png);
    background-size: cover;
}

#Resume {
    width: 0px;
    height: 0px;
    padding: 70% 50% 55% 50%;
    background: url(/img/cResumePic.png);
    background-size: cover;
}

#Contact {
    padding-top: 7.5vh;
    height: 90vh;
    padding-left: 12.5%;
    padding-right: 15%;
}

#cMe {
    align-content: center;
    text-align: center;
    vertical-align: middle;
}

#submitButton {
    margin-right: 8%;
}

#Footer {
    padding-left: 12.5%;
    padding-right: 15%;
}

.form .text-input,
.form .textarea,
.form .label,
.form .button {
    padding: 1em 1.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    line-height: normal;
    border: 1px solid transparent;
    border-radius: 0;
}

.form .text-input,
.form .textarea {
    font: inherit;
    line-height: normal;
    width: 100%;
    box-sizing: border-box;
    display: block;
    padding-left: 0;
    border-bottom-color: white;
    background: transparent;
    outline: none;
    color: white;
}

.form .text-input:placeholder,
.form .textarea:placeholder {
    color: rgba(0, 0, 0, 0.7);
}

.form .text-input:-webkit-autofill,
.form .textarea:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset;
    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
}

.form .error.text-input,
.form .error.textarea,
.error .form .text-input,
.form .error .text-input,
.error .form .textarea,
.form .error .textarea {
    border-color: transparent transparent red transparent;
}

.form:not(.has-floated-label) .text-input:active,
.form:not(.has-floated-label) .textarea:active,
.form:not(.has-floated-label) .text-input:focus,
.form:not(.has-floated-label) .textarea:focus {
    border-color: transparent transparent black transparent;
}

.form .label {
    position: absolute;
    z-index: 10;
    pointer-events: none;
    padding-left: 0;
}

.form .label {
    top: 0;
    left: 0;
    color: rgba(0, 0, 0, 0.7);
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.active .form .label,
.form .active .label {
    font-size: 0.75em;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0;
    color: rgba(0, 0, 0, 0.7);
    background: white;
}

.focus .form .label,
.form .focus .label {
    color: black;
}

.form.has-floated-label .field:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 1px solid black;
    -webkit-transition: width 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: width 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.form.has-floated-label .field.focus:after {
    width: 100%;
}

.form .button {
    font: inherit;
    line-height: normal;
    cursor: pointer;
    background-color: black;
    color: white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.14286em;
}

.form .button:hover,
.form .button:focus,
.form .button:active {
    color: white;
    background: black;
}

.form .button:active {
    position: relative;
    top: 1px;
    left: 1px;
}

.form {
    max-width: 50em;
    margin: 0 auto;
    padding: 1em 2em;
    box-sizing: border-box;
    overflow: hidden;
}

.form .field {
    position: relative;
    width: 100%;
    margin-bottom: 1.75em;
    float: left;
    font-size: 12pt;
}


.form .field:last-child {
    float: right;
    width: auto;
}

.form .textarea {
    max-width: 100%;
}

.social {
    text-align: center;
}

.fa-3x {
    margin-right: 3.33%;
}

.fa-3x:hover {
    color: #fff;
}

.fa-github,
.fa-instagram,
.fa-envelope,
.fa-linkedin {
    color: white;
}

.fa-square-o {
    color: white;
}

.fa-lg:hover > .fa-square-o {
    color: white;
}

.fa-lg:hover .fa-square-o:after {
    content: " ";
    position: absolute;
    left: 7px;
    top: 5px;
    height: 29px;
    width: 28px;
    background-color: #3b5998;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: -1;
}

#Footer {
    padding-bottom: 1%;
}

@media screen and (min-width: 40em) {
    .form .field.half {
        width: calc(50% - 2em);
        margin-right: 2em;
    }

    .form .field.half + .half {
        margin-left: 2em;
        margin-right: 0;
    }
}

@media screen and (max-width:1100px) and (min-width: 861px) {
    .fixed-top {
        margin-left: 0px;
    }

    .navbar-brand {
        width: 12.5%;
    }

    .ml-auto {
        margin-left: 70%;
    }

    .first-button {
        margin-right: 5%;
    }

    #PrefaceContainer {
        height: 95vh;
        padding-left: 7.5%;
        padding-right: 7.5%;
        padding-top: 10%;
        transition: background-color 3s ease;
    }

    .PrefacePic {
        width: 25vw;
        height: 70vh;
        margin: 0% 0% 0% 0%;
    }

    .PrefaceWords {
        color: black;
        margin: 35% 0% 0% 0%;
        display: inline-block;
        font-size: 18pt;
        width: 77.5vw;
        z-index: 999;
    }

    .tText {
        position: relative;
        padding-top: 1.25%;
        font-size: 37px;
    }

    .PrefacePicCurr {
        width: 120%;
        margin: -85% 0% 0% 225%;
        z-index: -999;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: lightgray;
    }

    #About {
        padding-top: 10vh;
        height: 95vh;
        padding-left: 7.5%;
        padding-right: 7.5%;
        transition: background-color 1s ease;
        font-size: 18px;
    }

    #mypic {
        padding-left: 1%;
        border-radius: 8px;
        opacity: 0.85;
        width: 0px;
        height: 0px;
        margin-top: 30%;
        padding-top: 125px;
        padding-right: 200px;
        padding-left: 200px;
        padding-bottom: 200px;
        background: url(/img/M-3.jpeg);
        background-size: cover;
    }

    #About > div > div:nth-child(1) {
        text-align: center;
    }

    #About > div > div:nth-child(2) > h1 {
        font-size: 15px;
    }

    #About > div > div:nth-child(2) > hr {
        margin: 0px 0px 0px 0px;
    }

    #Projects {
        padding-top: 16vh;
        padding-left: 7.5%;
    }

    #Projects > div > div > div > strong {
        font-size: 14px;
    }

    #Projects > div > div > div > a {
        font-size: 14px;
    }

    #ProjectsHeader {
        text-decoration: underline;
        margin-bottom: 4.5%;
        font-size: 15px;
    }

    #Projects > .row > .Left {
        margin-bottom: 10%;
    }

    #Projects > .row > .Right {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    #Torito {
        width: 0px;
        height: 0px;
        padding: 70% 55% 10% 55%;
        background: url(/img/elTorito.png);
        background-size: cover;
    }

    #Potatoes {
        width: 0px;
        height: 0px;
        padding: 70% 60% 10% 60%;
        background: url(/img/potatoes.png);
        background-size: cover;
    }

    #Pokemon {
        width: 0px;
        height: 0px;
        padding: 70% 50% 0% 50%;
        background: url(/img/pokemon.png);
        background-size: cover;
    }

    #Currency {
        width: 0px;
        height: 0px;
        padding: 70% 60% 50% 60%;
        background: url(/img/converter.png);
        background-size: cover;
    }

    #Pet {
        width: 0px;
        height: 0px;
        padding: 30% 50% 10% 50%;
        background: url(/img/Tempeturs.png);
        background-size: cover;
    }

    #Curr {
        width: 0px;
        height: 0px;
        padding: 70% 60% 0% 60%;
        background: url(/img/CurrSample.png);
        background-size: cover;
    }

    #Resume {
        width: 0px;
        height: 0px;
        padding: 70% 50% 55% 50%;
        background: url(/img/cResumePic.png);
        background-size: cover;
    }

}

@media screen and (max-width:860px) and (min-width: 746px) {
    nav {
        max-height: 80px;
        font-size: 19px;
        color: white;
        margin: 1% 0% 0% 0%;
    }

    .fixed-top {
        margin-left: 0px;
        margin-right: 1px;
        margin-top: 1px;
        padding-left: 1px;
        padding-top: 2px;
    }

    .navbar-brand {
        width: 20%;
        padding-top: 0px;
    }

    .first-button {
        margin-right: 5%;
    }

    #PrefaceContainer {
        height: 95vh;
        padding-left: 7.5%;
        padding-right: 7.5%;
        padding-top: 35%;
        transition: background-color 3s ease;
    }

    #About {
        padding-top: 12.5vh;
        height: 95vh;
        padding-left: 7.5%;
        padding-right: 7.5%;
        transition: background-color 1s ease;
        font-size: 20px;
    }

    .PrefacePic {
        width: 25vw;
        height: 70vh;
        margin: 0% 0% 0% 0%;
    }

    .PrefaceWords {
        color: black;
        margin: 35% 0% 0% 0%;
        display: inline-block;
        font-size: 18pt;
        width: 77.5vw;
        z-index: 999;
    }

    .tText {
        position: relative;
        padding-top: 1.25%;
        font-size: 29px;
    }

    .PrefacePicCurr {
        width: 120%;
        margin: -85% 0% 0% 225%;
        z-index: -999;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: lightgray;
    }

    #About > div > div:nth-child(1) {
        text-align: center;
    }

    #About > div > div:nth-child(2) > h1 {
        font-size: 15px;
    }

    #About > div > div:nth-child(2) > hr {
        margin: 0px 0px 0px 0px;
    }

    #Projects {
        padding-top: 12.5vh;
        padding-left: 7.5%;
        padding-right: 7.5%;
    }

    #Projects > div > div > div > strong {
        font-size: 14px;
    }

    #Projects > div > div > div > a {
        font-size: 14px;
    }

    #ProjectsHeader {
        text-decoration: underline;
        margin-bottom: 4.5%;
        font-size: 15px;
    }

    #Projects > .row > .Left {
        margin-bottom: 10%;
    }

    #Projects > .row > .Right {
        margin-top: 0%;
        margin-bottom: 10%;
    }

    #Torito {
        width: 0px;
        height: 0px;
        padding: 70% 55% 10% 55%;
        background: url(/img/elTorito180.png);
        background-size: cover;
    }

    #Potatoes {
        width: 0px;
        height: 0px;
        padding: 70% 60% 10% 35%;
        background: url(/img/potatoes332.png);
        background-size: cover;
    }

    #Pokemon {
        width: 0px;
        height: 0px;
        padding: 70% 50% 0% 50%;
        background: url(/img/pokemon536.png);
        background-size: cover;
    }

    #Currency {
        width: 0px;
        height: 0px;
        padding: 70% 60% 50% 40%;
        background: url(/img/converter455.png);
        background-size: cover;
    }

    #Pet {
        width: 0px;
        height: 0px;
        padding: 30% 50% 10% 50%;
        background: url(/img/Tempeturs407.png);
        background-size: cover;
    }

    #Curr {
        width: 0px;
        height: 0px;
        padding: 70% 60% 0% 40%;
        background: url(/img/CurrSample572.png);
        background-size: cover;
    }

    #Resume {
        width: 0px;
        height: 0px;
        padding: 70% 50% 55% 50%;
        background: url(/img/cResumePic.png);
        background-size: cover;
    }

    #mypic {
        padding-left: 1%;
        border-radius: 8px;
        opacity: 0.85;
        width: 0px;
        height: 0px;
        padding-top: 140px;
        padding-right: 100px;
        padding-left: 100px;
        padding-bottom: 20px;
        background: url(/img/M-3Opt.jpeg);
        background-size: cover;
    }

    #Contact {
        padding-top: 7.5vh;
        height: 90vh;
        padding-left: 7.5%;
        padding-right: 7.5%;
    }

    #cMe2 {
        font-size: 15px;
        text-align: left;
    }

    #submitButton {
        margin-right: 0%;
    }

    .fa-3x {
        font-size: 2em;
    }

    #Footer {
        padding-bottom: 1%;
        font-size: 9px;
    }

    #Footer > div > div {
        padding-right: 0px;
        padding-left: 0px;
    }

    .col-md-6 {
        width: 49.5%;
    }
}

@media screen and (max-width:745px) and (min-width: 601px) {
    nav {
        max-height: 80px;
        font-size: 19px;
        color: white;
        margin: 1% 0% 0% 0%;
    }

    .fixed-top {
        margin-left: 0px;
        margin-right: 1px;
        margin-top: 1px;
        padding-left: 1px;
        padding-top: 2px;
    }

    .navbar-brand {
        width: 10%;
        padding-top: 0px;
    }

    .first-button {
        margin-right: 5%;
    }

    #PrefaceContainer {
        height: 100vh;
        padding-left: 7.5%;
        padding-right: 7.5%;
        padding-top: 1%;
        transition: background-color 3s ease;
    }

    #About {
        padding-top: 15vh;
        margin-top: 10vh;
        height: 175vh;
        padding-left: 7.5%;
        padding-right: 7.5%;
        transition: background-color 1s ease;
        font-size: 13px;
    }

    .PrefacePic {
        width: 25vw;
        height: 70vh;
        margin: 0% 0% 0% 0%;
    }

    .PrefaceWords {
        color: black;
        margin: 35% 0% 0% 0%;
        display: inline-block;
        font-size: 18pt;
        width: 77.5vw;
        z-index: 999;
    }

    .tText {
        position: relative;
        padding-top: 1.25%;
        font-size: 29px;
    }

    .PrefacePicCurr {
        width: 80%;
        margin: -50% 0% 0% 285%;
        z-index: -999;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: lightgray;
    }

    #About > div > div:nth-child(1) {
        text-align: center;
    }

    #About > div > div:nth-child(2) > h1 {
        font-size: 15px;
    }

    #About > div > div:nth-child(2) > hr {
        margin: 0px 0px 0px 0px;
    }

    #Projects {
        padding-top: 20vh;
        padding-left: 7.5%;
        padding-right: 7.5%;
    }

    #Projects > div > div > div > strong {
        font-size: 14px;
    }

    #Projects > div > div > div > a {
        font-size: 14px;
    }

    #ProjectsHeader {
        text-decoration: underline;
        margin-bottom: 4.5%;
        font-size: 15px;
    }

    #Projects > .row > .Left {
        margin-bottom: 10%;
    }

    #Projects > .row > .Right {
        margin-top: 0%;
        margin-bottom: 10%;
    }

    #Torito {
        width: 0px;
        height: 0px;
        padding: 30% 10% 0% 30%;
        background: url(/img/elTorito180.png);
        background-size: cover;
    }

    #Potatoes {
        width: 0px;
        height: 0px;
        padding: 30% 15% 0% 30%;
        background: url(/img/potatoes332.png);
        background-size: cover;
    }

    #Pokemon {
        width: 0px;
        height: 0px;
        padding: 30% 15% 0% 30%;
        background: url(/img/pokemon536.png);
        background-size: cover;
    }

    #Currency {
        width: 0px;
        height: 0px;
        padding: 60% 17.5% 0% 30%;
        background: url(/img/converter455.png);
        background-size: cover;
    }

    #Pet {
        width: 0px;
        height: 0px;
        padding: 30% 50% 10% 50%;
        background: url(/img/Tempeturs407.png);
        background-size: cover;
    }

    #Curr {
        width: 0px;
        height: 0px;
        padding: 40% 50% 0% 10%;
        background: url(/img/CurrSample572.png);
        background-size: cover;
    }

    #Resume {
        width: 0px;
        height: 0px;
        padding: 40% 10% 0% 20%;
        background: url(/img/cResumePic.png);
        background-size: cover;
    }

    #mypic {
        padding-left: 1%;
        border-radius: 8px;
        opacity: 0.85;
        width: 0px;
        height: 0px;
        padding-top: 140px;
        padding-right: 100px;
        padding-left: 100px;
        padding-bottom: 20px;
        background: url(/img/M-3Opt.jpeg);
        background-size: cover;
    }

    #Contact {
        padding-top: 19vh;
        height: 140vh;
        padding-left: 7.5%;
        padding-right: 7.5%;
    }

    #cMe2 {
        font-size: 15px;
        text-align: left;
    }

    #submitButton {
        margin-right: 0%;
    }

    .fa-3x {
        font-size: 1.5em;
    }

    #Footer {
        padding-bottom: 1%;
        font-size: 9px;
    }

    #Footer > div > div {
        padding-right: 0px;
        padding-left: 0px;
    }

    .col-md-6 {
        width: 49.5%;
    }
}

@media screen and (max-width:600px) and (min-width: 421px) {
    nav {
        max-height: 80px;
        font-size: 19px;
        color: white;
        margin: 1% 0% 0% 0%;
    }

    .fixed-top {
        margin-left: 0px;
        margin-right: 1px;
        margin-top: 1px;
        padding-left: 1px;
        padding-top: 2px;
    }

    .navbar-brand {
        width: 20%;
        padding-top: 0px;
    }

    .first-button {
        margin-right: 5%;
    }

    #PrefaceContainer {
        height: 95vh;
        padding-left: 7.5%;
        padding-right: 7.5%;
        padding-top: 35%;
        transition: background-color 3s ease;
    }

    #About {
        padding-top: 12.5vh;
        height: 95vh;
        padding-left: 7.5%;
        padding-right: 7.5%;
        transition: background-color 1s ease;
        font-size: 13px;
    }

    .PrefacePic {
        width: 25vw;
        height: 70vh;
        margin: 0% 0% 0% 0%;
    }

    .PrefaceWords {
        color: black;
        margin: 35% 0% 0% 0%;
        display: inline-block;
        font-size: 18pt;
        width: 77.5vw;
        z-index: 999;
    }

    .tText {
        position: relative;
        padding-top: 1.25%;
        font-size: 29px;
    }

    .PrefacePicCurr {
        width: 120%;
        margin: -85% 0% 0% 225%;
        z-index: -999;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: lightgray;
    }

    #About > div > div:nth-child(1) {
        text-align: center;
    }

    #About > div > div:nth-child(2) > h1 {
        font-size: 15px;
    }

    #About > div > div:nth-child(2) > hr {
        margin: 0px 0px 0px 0px;
    }

    #Projects {
        padding-top: 12.5vh;
        padding-left: 7.5%;
        padding-right: 7.5%;
    }

    #Projects > div > div > div > strong {
        font-size: 14px;
    }

    #Projects > div > div > div > a {
        font-size: 14px;
    }

    #ProjectsHeader {
        text-decoration: underline;
        margin-bottom: 4.5%;
        font-size: 15px;
    }

    #Projects > .row > .Left {
        margin-bottom: 10%;
    }

    #Projects > .row > .Right {
        margin-top: 0%;
        margin-bottom: 10%;
    }

    #Torito {
        width: 0px;
        height: 0px;
        padding: 70% 55% 10% 55%;
        background: url(/img/elTorito180.png);
        background-size: cover;
    }

    #Potatoes {
        width: 0px;
        height: 0px;
        padding: 70% 60% 10% 35%;
        background: url(/img/potatoes332.png);
        background-size: cover;
    }

    #Pokemon {
        width: 0px;
        height: 0px;
        padding: 70% 50% 0% 50%;
        background: url(/img/pokemon536.png);
        background-size: cover;
    }

    #Currency {
        width: 0px;
        height: 0px;
        padding: 70% 60% 50% 40%;
        background: url(/img/converter455.png);
        background-size: cover;
    }

    #Pet {
        width: 0px;
        height: 0px;
        padding: 30% 50% 10% 50%;
        background: url(/img/Tempeturs407.png);
        background-size: cover;
    }

    #Curr {
        width: 0px;
        height: 0px;
        padding: 70% 60% 0% 40%;
        background: url(/img/CurrSample572.png);
        background-size: cover;
    }

    #Resume {
        width: 0px;
        height: 0px;
        padding: 70% 50% 55% 50%;
        background: url(/img/cResumePic.png);
        background-size: cover;
    }

    #mypic {
        padding-left: 1%;
        border-radius: 8px;
        opacity: 0.85;
        width: 0px;
        height: 0px;
        padding-top: 140px;
        padding-right: 100px;
        padding-left: 100px;
        padding-bottom: 20px;
        background: url(/img/M-3Opt.jpeg);
        background-size: cover;
    }

    #Contact {
        padding-top: 7.5vh;
        height: 90vh;
        padding-left: 7.5%;
        padding-right: 7.5%;
    }

    #cMe2 {
        font-size: 15px;
        text-align: left;
    }

    #submitButton {
        margin-right: 0%;
    }

    .fa-3x {
        font-size: 1em;
    }

    #Footer {
        padding-bottom: 1%;
        font-size: 9px;
    }

    #Footer > div > div {
        padding-right: 0px;
        padding-left: 0px;
    }

    .col-md-6 {
        width: 49.5%;
    }
}

@media (max-width: 420px) and (min-width: 200px) {
    nav {
        max-height: 80px;
        font-size: 19px;
        color: white;
        margin: 1% 0% 0% 0%;
    }

    .fixed-top {
        margin-left: 0px;
        margin-right: 1px;
        margin-top: 1px;
        padding-left: 1px;
        padding-top: 2px;
    }

    .navbar-brand {
        width: 20%;
        padding-top: 0px;
    }

    .first-button {
        margin-right: 5%;
    }

    #PrefaceContainer {
        height: 95vh;
        padding-left: 7.5%;
        padding-right: 7.5%;
        padding-top: 35%;
        transition: background-color 3s ease;
    }

    #About {
        padding-top: 12.5vh;
        height: 95vh;
        padding-left: 7.5%;
        padding-right: 7.5%;
        transition: background-color 1s ease;
        font-size: 13px;
    }

    .PrefacePic {
        width: 25vw;
        height: 70vh;
        margin: 0% 0% 0% 0%;
    }

    .PrefaceWords {
        color: black;
        margin: 35% 0% 0% 0%;
        display: inline-block;
        font-size: 18pt;
        width: 77.5vw;
        z-index: 999;
    }

    .tText {
        position: relative;
        padding-top: 1.25%;
        font-size: 29px;
    }

    .PrefacePicCurr {
        width: 120%;
        margin: -85% 0% 0% 225%;
        z-index: -999;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: lightgray;
    }

    #About > div > div:nth-child(1) {
        text-align: center;
    }

    #About > div > div:nth-child(2) > h1 {
        font-size: 15px;
    }

    #About > div > div:nth-child(2) > hr {
        margin: 0px 0px 0px 0px;
    }

    #Projects {
        padding-top: 12.5vh;
        padding-left: 7.5%;
        padding-right: 7.5%;
    }

    #Projects > div > div > div > strong {
        font-size: 14px;
    }

    #Projects > div > div > div > a {
        font-size: 14px;
    }

    #ProjectsHeader {
        text-decoration: underline;
        margin-bottom: 4.5%;
        font-size: 15px;
    }

    #Projects > .row > .Left {
        margin-bottom: 10%;
    }

    #Projects > .row > .Right {
        margin-top: 0%;
        margin-bottom: 10%;
    }

    #Torito {
        width: 0px;
        height: 0px;
        padding: 70% 55% 10% 55%;
        background: url(/img/elTorito180.png);
        background-size: cover;
    }

    #Potatoes {
        width: 0px;
        height: 0px;
        padding: 70% 60% 10% 35%;
        background: url(/img/potatoes332.png);
        background-size: cover;
    }

    #Pokemon {
        width: 0px;
        height: 0px;
        padding: 70% 50% 0% 50%;
        background: url(/img/pokemon536.png);
        background-size: cover;
    }

    #Currency {
        width: 0px;
        height: 0px;
        padding: 70% 60% 50% 40%;
        background: url(/img/converter455.png);
        background-size: cover;
    }

    #Pet {
        width: 0px;
        height: 0px;
        padding: 30% 50% 10% 50%;
        background: url(/img/Tempeturs407.png);
        background-size: cover;
    }

    #Curr {
        width: 0px;
        height: 0px;
        padding: 70% 60% 0% 40%;
        background: url(/img/CurrSample572.png);
        background-size: cover;
    }

    #Resume {
        width: 0px;
        height: 0px;
        padding: 70% 50% 55% 50%;
        background: url(/img/cResumePic.png);
        background-size: cover;
    }

    #mypic {
        padding-left: 1%;
        border-radius: 8px;
        opacity: 0.85;
        width: 0px;
        height: 0px;
        padding-top: 140px;
        padding-right: 100px;
        padding-left: 100px;
        padding-bottom: 20px;
        background: url(/img/M-3Opt.jpeg);
        background-size: cover;
    }

    #Contact {
        padding-top: 7.5vh;
        height: 90vh;
        padding-left: 7.5%;
        padding-right: 7.5%;
    }

    #cMe2 {
        font-size: 15px;
        text-align: left;
    }

    #submitButton {
        margin-right: 0%;
    }

    .fa-3x {
        font-size: 1em;
    }

    #Footer {
        padding-bottom: 1%;
        font-size: 9px;
    }

    #Footer > div > div {
        padding-right: 0px;
        padding-left: 0px;
    }

    .col-md-6 {
        width: 49.5%;
    }
}

/* Hamburger Icon  */

.animated-icon1 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon1 span {
    background: black;
}

.animated-icon1 span:nth-child(1) {
    top: 0px;
}

.animated-icon1 span:nth-child(2) {
    top: 10px;
}

.animated-icon1 span:nth-child(3) {
    top: 20px;
}

.animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.edit {
    background-color: black;
    color: white;
}

.editNavReg {
    color: black;
}

.editNavDif {
    color: white;
}

.blackNav span {
    background: black;
    color: black;
}

.whiteNav span {
    color: white;
    background: white;
}
